.ordinaryImg {
    border: 0px;
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    -o-box-shadow: 0 0 0;
    -ms-box-shadow: 0 0 0;
    margin: 0;
    padding: 0;
}

.smallImg {
    display: inline-block;
    height: 1em;
}

.disabledHref {
    color: #aaa;
    pointer-events: none;
}

pre.prettyprint {
    color: white;
}

img.fixedHeight {
    height: 25em;
    box-shadow: 3px 3px 5px #aaa;
}
