.ordinaryImg {
    border: 0px;
    margin: 0;
    padding: 0;
}

.smallImg {
    display: inline-block;
    height: 1em;
}

.disabledHref {
    color: #aaa;
    pointer-events: none;
}

pre.prettyprint {
    color: white;
}

img.fixedHeight {
    /*height: 22em;*/
    /*box-shadow: 3px 3px 5px #aaa;*/
    /*margin-right: 0.3em;*/
    margin-bottom: 1em;
    max-width: 60%;
}
p img {
    display: block;
    margin: 0 auto;
}
